﻿@section Scripts{
    @Scripts.Render("~/Scripts/Script.js")
    }

<div class="row">
    <div class="col-sm-4" style="display:none" id="registracijaP">
        <form method="post" action="post/" id="registracija">
            <h3>Registracija</h3>
            <div class="form-group">
                <label>Email</label>
                <input class="form-control" type="email" id="regEmail" />
            </div>
            <div class="form-group">
                <label>Lozinka</label>
                <input class="form-control" type="password" id="regLoz" />
            </div>
            <div class="form-group">
                <label>Potvrdi Lozinku</label>
                <input class="form-control" type="password" id="regLoz2" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-sm">Registracija</button>
            </div>
        </form>
    </div>

    <div class="col-sm-4"  id="PrijalaP">
        <form method="post" action="post/" id="prijava">
            <h3>Prijava</h3>
            <div class="form-group">
                <label>Email</label>
                <input class="form-control" type="text" id="priEmail" />
            </div>
            <div class="form-group">
                <label>Lozinka</label>
                <input class="form-control" type="password" id="priLoz" />
            </div>
            <div class="form-group">
                <button type="submit" class="btnPrijava" style="float: left">Prijava</button>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-sm" id="bReg" style="float: left">Registracija</button>
            </div>
        </form>
    </div>
</div>

<br />
<div class="row">
    <div class="col-sm-4" id="odjava">
        <button class="btn btn-sm" id="odjavise">Odjava</button>
    </div>
</div>

<p id="info"></p>

<div class="row book">
    <hr />
    <br />
    <button type="button" id="book" style="display:none">Book</button>
    <div id="data"></div>
    <br />
    <div id="formDiv" style="display:none" class="d-flex justify-content-between">
        <form method="post" action="post/" id="bookForm">
            <p><label>Naziv: <input id="bookNaziv" class="form-control"></label></p>
            <p><label>Cena: <input id="bookCena" type="number" class="form-control"></label></p>
            <p><label>Zanr: <input id="bookZanr" type="text" class="form-control"></label></p>
            <p><label>AutorId: <input id="bookAutor" class="form-control"/></label></p>
            <br />
            <p><button class='btn btn-sm'>Submit</button></p>
        </form>
    </div>
</div>
